@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Fonts
$font: "Raleway", Helvetica, Arial, sans-serif;
$font2: "Yeseva One", cursive;

// Graphic chart
$red_menu: #cf1056;
$red: #d21f61;
$purple: #791b6c;
